# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env
client/.env
server/.env

# Logs
logs
*.log

# Docker
**/db-data/
**/docker-volume/
*.pid

# OS
.DS_Store
Thumbs.db

# VSCode ou outros editores
.vscode/
.idea/

